h1 {

	color:blue;
	padding-left:400px;
}
.container{
	display:flex;
	
}

.container div{
	border:1.5px solid;
	padding:10px;
   align-items:center;
   flex-direction:column;
	
}
.box1{
	color:red;
	flex:1;
	order:3;
}
.box2{
	color:green;
	flex:2;
	order:1;
}
.box3{
	color:#237;
	flex:3;
	order:2;
}